form{
  sup{
  color: red;
  font-weight: bolder;
  }
}
.top-bar{
  form input.ts-search-input{
    height: 30px !important;
    margin-top: 8px;
  }
}
.has-hint{
  input{
    margin-bottom: 0;
  }
  small{
    margin-bottom: 10px;
  }
}
.account-form.columns{
  p{
    font-size: 15px;
  }
  .form-info{
    font-size: 30px;
    i{
      padding-right: 5px;
    }
    p{
      margin-bottom: 3px;
    }
  }
  .button.btn-default{
    box-shadow: 0 1px 3px 1px $gray-bg-color;
    margin-right: 10px;
    font-size: 18px;
  }
  .field{
    input, textarea{
      border: solid 2px $gray-border;
      padding: 5px 10px 5px 10px;
      border-color: $gray-border;
      box-shadow: none !important;
      height: 45px;
      border-radius: 3px;
      &:focus{
        border-color: red;
      }
    }
  }
}
.error_messages{
  ul{
    border: solid 1px $gray-border;
    padding: 10px;
    list-style: none;
    li{
      margin-bottom: 8px;
    }
  }
}
