#main-content img {
  border: solid 1px $gray-border;
}

.container {
  padding: 75px 20px 0 220px;
  max-width: 1800px;
  .sidebar {
    background-color: #fefefe;
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    border-right: solid 1px $gray-border;
  }
}
.main-container {
  padding-top: 70px;
}
