table{
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  th, td {
    background-color: white;
    border: solid 1px $gray-border;
  }
  th{
    background-color: $gray-bg-color;
  }
}
