body{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}
a{
  color: $primary;
  &:hover{
    color: $primary-hover;
  }
}
hr{
  margin: 0;
}
.default{
  color: white;
  font-weight: normal;
  &:hover{
    color: $primary;
  }
}
.reverse{
  color: $primary-hover;
  &:hover{
    color: $primary;
  }
}
.code{
  font-family: monospace;
  background-color: #f3f3f3;
  overflow: auto;
  padding: 10px;
  color: black;
  font-weight: bold;
}
ul.list{
  list-style: none;
  margin-left: 0;
  li{
    padding: 5px 10px 5px 10px;
    text-indent: 1em;
  }
}
#main-content img {
  border: solid 1px $gray-border;
}
.ref {
  margin-top: 20px;
  ol {
    padding-left: 20px;
    list-style-type: upper-roman;
  }
}
.blocks {
  li {
    height: 350px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      .text {
        opacity: 1;
      }
      .image-bg {
        opacity: .2;
      }
    }
    .text {
      height: 100%;
      padding: 15px;
      overflow: hidden;
      position: relative;
      color: black;
      opacity: 0;
      h4 {
        color: $primary-color;
      }
      p {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
.image-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin: 6px;
}
.label.primary{
  background-color: $primary;
}
.limit-width{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.lists {
  list-style-type: none;
}
.brown-color{
  color: $brown;
}
.green-color{
  color: $green;
}
.blue-color{
  color: $blue;
}
.orange-color{
  color: $orange;
}
.gray-dark-bg{
  background-color: $gray-darkest;
}
