%script{type: 'text/template', id: 't-blog-edit'}
  .row
    .large-12.columns
      %h4 编辑博客
  .row
    .large-12.columns
      %form#edit-blog-form
        .row
          .large-12.columns
            %label
              标题
              %input#blog-title{type: 'text', value: '{{= blog.title }}'}
          .large-12.columns
            %label
              标签
              %input#blog-tag{type: 'text', value: '{{= blog.tag_id }}'}
          .large-12.columns
            %label
              正文
            %textarea#blog-edit-body.editor
          .large-12.columns
            %button.button.tiny{type: 'submit'} 确定
            %a.cancel 返回
