%script{type: 'text/template', id: 't-blog-show'}
  .row
    .large-8.columns
      %h4
        {{= blog.title }}
        %span.pull-right {{= blog.tag_list }}
      .label {{= blog.language }}
    .large-4.columns.text-right
      %h4
        %a{:href => "#blogs/{{= blog.id }}/edit"}
          %i.fa.fa-edit
  .row
    .large-12.columns
      %br
      {{= blog.body }}
      %hr
  .row
    .large-12.columns.article-controls
      %a{:href => "#blogs/{{= blog.id }}/edit"}
        %i.fa.fa-edit
        编辑
      %a.delete-article
        %i.fa.fa-times-circle-o.delete
        删除
      %a.cancel
        %i.fa.fa-mail-reply
        取消


