%script{type: 'text/template', id: 't-blog-new'}
  .row
    .large-12.columns
      %h4 创建博客
  .row.dashboard-content-wrap
    .large-12.columns
      %form#new-blog-form
        %input#newbl{type:'hidden', name:'newbl', value:'newbl'}
        .row
          .large-12.columns
            %label
              标题
              %input#blog-title{type: 'text'}
          .large-9.columns
            %label
              标签
            .tags-content
          .large-3.columns
          .large-12.columns
            %textarea#blog-new-body.editor
          .large-12.columns
            %button.button.tiny{type: 'submit'} 确定
            %a.cancel 取消

%script{type: 'text/template', id: 't-blog-tag'}
  %a.label.primary.round{:href => "javascript:;", :'data-tag-id' => '{{= id }}', :'data-tag-name' => '{{= name }}'} {{= name }}
