%script{type: 'text/template', id: 't-blogs'}
  .row
    .large-10.columns
      %h4 所有博客
    .large-2.columns
      %a.button.tiny{:href => "#blogs/new"} 新建
  .row
    .large-12.columns
      %ul#blogs
%script{type: 'text/template', id: 't-blog'}
  %li#blog
    %a{:href => "#blogs/{{= blog.id }}" }
      %h4 {{= blog.title }}
      %p {{= blog.body }}
