%script{type: 'text/template', id: 't-notebooks'}
  .row.article-head
    .large-8.columns
      %h4 所有笔记书
    .large-4.columns.text-right
      %span
        有
        %strong#unImported-num 0
        本笔记待导入
      %a.button.tiny#import-btn{:href => "javascript:;"} 导入
  .row.article-items.dashboard-content-wrap
    .large-12.columns
      #notebooks.notebooks
      #paginator

%script{type: 'text/template', id: 't-notebook'}
  .notebook{:'data-id' => '{{= notebook.id }}'}
    %h4
      %a{:href => "javascript:;" } {{= notebook.title }}
      %p
        {{= notebook.authors }}
        %small {{= notebook.citation }}
    .meta
      %p
        %span 创建于
        {{= jQuery.timeago(notebook.created_at) }}
        %span ，上次更新于
        {{= jQuery.timeago(notebook.updated_at) }}
        %span ，共
        {{= notebook.notes.length }}
        %span 条笔记
  %hr
