%script{type: 'text/template', id: 't-series-edit'}
  .row
    .large-12.columns
      %h4 编辑文章
  .row
    .large-12.columns
      %form#edit-series-form
        .row
          .large-12.columns
            %label
              标题
              %input#series-title{type: 'text', value: '{{= series.title }}'}
          .large-12.columns
            %label
              标签
              %input#series-tag{type: 'text', value: '{{= series.tag }}'}
          .large-12.columns
            %label
              正文
              %textarea#series-body{type: 'text'} {{= series.body }}
          .large-12.columns
            %button.button.tiny{type: 'submit'} 确定
            %a.cancel 返回
