#main-content

  = content_for :js_ext do
    :javascript
      $(document).ready(function () {
        var router = new Yuetai.Routers.Engines();
        Backbone.history.start();
      })

%script{type: 'text/template', id: 't-blogs'}
  %h4 blogs
%script{type: 'text/template', id: 't-blog'}
  %h4 blog

%script{type: 'text/template', id: 't-series'}
  %h4 series
%script{type: 'text/template', id: 't-series-show'}
  %h4 series-show

%script{type: 'text/template', id: 't-presentations'}
  %h4 presentations
%script{type: 'text/template', id: 't-presentation'}
  %h4 presentation
