.article-wrap {
  h4 {
    margin: 0;
  }
  .article-meta {
    padding: 10px 0;
    span {
      font-size: 12px;
    }
  }
  .author-summary {
    padding: 20px 0;
    text-align: center;
    img {
      border-radius: 50%;
      width: 75%;
    }
  }
}
