.author{
  .articles{
    margin-bottom: 20px;
    ul{
      margin-top: 20px;
      li{
        padding: 20px 5px 20px 5px;
        background-color: $gray-bg-color;
        &:hover{
          opacity: 0.8;
        }
      }
      a:hover{
        color: $primary-color;
      }
    }
  }
  .meta{
    img{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 5px;
    }
    .label{
      margin-right: 10px;
    }
  }
}
