.author{
  .articles{
    ul{
      margin-top: 20px;
    }
  }
  .meta{
    img{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 5px;
    }
    .label{
      margin-right: 10px;
    }
  }
}
