.dashboard {
  margin-top: 60px;

  .article-controls {
    border-top: solid 1px gray;
    padding-top: 20px;

    a {
      padding-right: 8px;
    }
  }

  .simditor {
    margin-bottom: 20px;
  }

  .page.active {
    background-color: $primary-color;
  }
  #new-blog-form, #edit-blog-form {
  }
}

#blogs,
#presentations {
  & > li {
    list-style: none;
  }
}
