li.presentation{
  .name-user-1,.time-user-1{
    font-size: 0.9em;
    color: #556677;
  }
  .time-user-1{
    margin-top: -15px;
  }
  .name-user-1{
    padding-top: 10px;
  }
  span{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    &:after{
      content: "";
      display: block;
      border-bottom: 1px solid #ccf;
    }
  }
}