.tag-info {
  background: $gray-bg;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  color: $gray-text;
  .tag-name {
    font-size: 20px;
    color: $success-color;
  }
  .tag-sum {
    font-size: 25px;
    font-family: fantasy;;
    color: $success-color;
  }
  .tag-date {
    font-size: 14px;
    color: $success-color;
  }
}
