.node.wrap
  .meta.row
    .large-12.columns
      %h3= @node.name.html_safe
  .articles.row.wrap
    .large-12.columns
      %ul.large-block-grid-4
        - @node.articles.order("updated_at DESC").each do |article|
          %li
            = link_to article_path(article.id) do
              %h5= article.name.html_safe
              .body
                = truncate(article.body, length: 50, escape: false)
