%script{type: 'text/template', id: 't-articles-index'}
  %ul#articles-items.lists

%script{type: 'text/template', id: 't-article-item'}
  %li
    %h4
      %a{:href => "#articles/{{- article.id }}"} {{- article.name }}
    %p
      {{- article_snip}}
      %br
      %a{:href => "#authors/{{- author.id }}"} {{- author.name }}

      %span {{- article.created_at }}
