%script{type: 'text/template', id: 't-article-show'}
  %h3 {{- article.name}}
  %p
    %a{:href => "#authors/{{- author.id }}"}
      {{- author.name }}
  %p {{- article.updated_at }}
  .content {{= article.body}}
