#main-content.main-content
  .sidebar.pull-left
    .hot-tags
      %h6 热门书签
      %ul
        %li hi
        %li hi
        %li hi
        %li hi
        %li hi
        %li hi
    .hot-authors
      %h6 热门作者
      %ul
        %li hi
        %li hi
        %li hi
        %li hi
        %li hi
        %li hi
  .articles
    #y-blogs
      .loading
        %i.fa.fa-spinner.fa-spin

  = render "layouts/pager"

- blogs_json = render template: "articles/index", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogsView(#{blogs_json});
    });
    $('.articles-btn').addClass('active');

%script{type: 'text/template', id: 't-blog'}
  .blog{:'data-id' => '{{= blog.id }}'}
    %h5
      %a.title-user{:href => "/articles/{{= blog.id }}" }
        {{= blog.title }}
      %span.pull-right {{= blog.tag_list }}
    %p.name-user 作者: &nbsp; {{= blog.username}}
    %p.time-user 时间: &nbsp; {{= blog.date }}
    %p.time-user 阅读: &nbsp;  {{= blog.visited_count }} 次
    %p {{= blog.body }}
