#main-content.articles-wrap.container
  .sidebar.pull-left
    .hot-tags
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
    .hot-authors
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
      %span.label.round hi
  #y-blogs.articles
    .loading
      %i.fa.fa-spinner.fa-spin

  = render "layouts/pager"

- blogs_json = render template: "articles/index", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogsView(#{blogs_json});
    });
    $('.articles-btn').addClass('active');

%script{type: 'text/template', id: 't-blog'}
  .article{:'data-id' => '{{= blog.id }}'}
    %h4
      %a{:href => "/articles/{{= blog.id }}" }
        {{= blog.title }}
    .article-meta
      %p
        %a.article-author-name {{= blog.username}}
        %span.article-date {{= blog.date}}
        %strong {{= blog.visited_count}}
        %span 次阅读
      %p.tag-list {{= blog.tag_list }}
    .article-body
      %p {{= blog.body }}
    %hr

