#main-content
  .row.article-items
    .large-12.columns
      %ul#y-blogs
        %li.loading
          %i.fa.fa-spinner.fa-spin
  .row
    .large-12.columns
      = render "layouts/pager"

- blogs_json = render template: "articles/index", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogsView(#{blogs_json});
    });
    $('.articles-btn').addClass('active');

%script{type: 'text/template', id: 't-blog'}
  %li.blog{:'data-id' => '{{= blog.id }}'}
    .row
      .large-12.columns
        %h5
          %a.title-user{:href => "/articles/{{= blog.id }}" }
            {{= blog.title }}
        %p.name-user 作者: &nbsp; {{= blog.username}}
        %p.time-user 时间: &nbsp; {{= blog.date }}
    .row
      .large-12.columns
        %p {{= blog.body }}
