/ %script{type: 'text/template', id: 't-article-show'}
/   %h3 {{- article.name}}
/   %p
/     作者
/     %a{:href => "#!/authors/{{- author.id }}"}
/       {{- author.name }}
/     %br
/     标签
/     %a{:href => "#!/tags/{{- tag.id }}"}
/       {{- tag.name }}
/     %br
/     时间
/     {{- article.created_at }}
/   .article-body
/     {{= article.body}}
