.dashboard {
  margin-top: 60px;
  .loading {
    margin: 100px 0 30px;
  }
  .paginator {
    margin-top: 10px;
  }
  .header-nav {
    position: relative;
  }

  .article-controls {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      padding-right: 8px;
    }
  }
  .article-head {
    padding: 10px;
    strong {
      color: $secondary-color;
      font-size: 22px;
      font-weight: normal;
    }
    span {
      color: #666;
      line-height: 30px;
      vertical-align: middle;
    }
    a {
      padding: 7px 20px !important;
    }
  }
  .simditor {
    margin-bottom: 20px;
  }

  .page.active {
    background-color: $primary-color;
  }
  .delete {
    color: $alert-color;
  }
  table {
    border: none;
    thead tr th {
      color: $secondary-color;
      background-color: #fff;
      font-weight: normal;
    }
    img {
      width: 45px;
      height: 45px;
    }
    .manage-controls {
      a {
        padding-right: 5px;
      }
      i {
        font-size: 16px;
      }
      .fa-remove {
        color: $alert-color;
      }
      .fa-check {
        color: $info-color;
      }
    }
    td, th {
      text-align: center;
      border-right: none;
      border-left: none;
    }
  }
  .manage-header {
    .label {
      margin-top: 10px;
      padding: 0.25rem 0.5rem;
    }
    a:hover, a:focus {
      color: #fff;
    }
  }
  table {
    margin-bottom: 0;
  }
}

#blogs,
#presentations {
  & > li {
    list-style: none;
  }
  margin: 0;
}

.dashboard-content-wrap {
  background-color: $gray-bg;
  border-radius: 5px;
  padding: 30px 0;
  input[type="file"] {
    padding-top: 8px;
    position: relative;
    opacity: 0;
    z-index: 10;
    width: 100px;
    height: 25px;
  }
  .input-layer {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 15px;
    width: 100px;
    height: 25px;
    padding: 0;
    line-height: 25px !important;
  }
  button {
    margin: 0;
    outline: none;
  }
  form {
    .label {
      color: #fff;
      line-height: 12px;
    }
    hr {
      margin: 15px 15px 15px 60px;
    }
  }
}
