#main-content
  .row
    .large-12.columns
      %ul#presentations.large-block-grid-3

- presentations_json = render template: "presentation/index", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var presentations_view = new Yuetai.Views.Presentations.PresentationsView(#{presentations_json});
    });
    $('.presentation-btn').addClass('active');

%script{type: 'text/template', id: 't-presentation'}
  %li.presentation
    %h5
      %a{:href => "/presentation/{{= presentation.id }}"}
        %span {{= presentation.title }}
    %p.name-user-1 作者: &nbsp; {{= presentation.username }}
    %p.time-user-1 时间: &nbsp; {{= presentation.date }}
    {{= presentation.content }}

