%script{type: 'text/template', id: 't-authors-index'}
  %h4 所有作者
  %ul.small-block-grid-3#author-items.has-division

%script{type: 'text/template', id: 't-author-item'}
  %li
    %a{:href => "#!/authors/{{- author.id }}"}
      %h5
        %span.primary-color {{- author.name }}
        %small 创建于 {{- author.created_at }}
      %p {{- author_snip}}
