%script{type: 'text/template', id: 't-authors-index'}
  %ul.small-block-grid-3#author-items

%script{type: 'text/template', id: 't-author-item'}
  %li
    %h4
      %a{:href => "#authors/{{- author.id }}"} {{- author.name }}
    %p {{- author.desc}}
