%script{type: 'text/templalte', id: 't-excerpt-show'}
  .row
    .large-12.columns
      %h4 {{- excerpt.quote }}
      %p
        选自：
        {{- book.author_name }}
        %a{:href => "#!/books/{{- book.id }}"}
          {{- book.name }}
        %br
        作者：
        %a{:href => "#!/authors/{{- author.id }}"}
          {{- author.name }}
        %br
        创作:
        {{- excerpt.created_at }}
      .excerpt-body
        {{= excerpt.body }}
