.login{
  .auth_providers{
    margin-bottom: 30px;
  }
}
.setting-content{
  .edit{
    margin-top: 20px;
  }
  .btn-primary{
    margin-right: 10px;
  }
  ul{
    list-style: none;
    margin-left: 0;
    font-size: 14px;
  }
}
