.article-head {}

.article-items {
  min-height: 80vh;
  .loading {
    text-align: center;
    margin-top: 15%;
    i {
      font-size: 65px;
      color: $primary-color;
    }
  }
   & > div > ul {
    & > li {
      list-style: none;
      padding-top: 20px;
      &:last-child {
        border: none;
      }
      &:first-child {
        padding-top: 0;
      }
      .fa {
        padding-left: 8px;
      }
    }
  }
}
