.book {

}

.book-excerpts {
  h4 {
    margin-bottom: 1.25rem;
  }
  li {
    hr {
      margin-bottom: 30px;
    }
    border-bottom: solid 1px $gray-border;
    margin-bottom: 1.25rem;
    &:last-child {
      border: none;
    }
  }
}
