.header-nav {
  li {
    display: inline-block;
    width: 7%;
  }
}
.home {
  .page-1 {
    background: #47b0e2;
    padding-bottom: 60px;
  }

  h2 {
    margin-bottom: 30px;
  }
}
.full {
  width: 100%;
}
.white {
  color: white;
}

.header-intro span.spacer:after {
  display: inline-block;
  width: 30%;
  content: ".";
  position: relative;
  top: -3px;
  left:16.4%;
  font-size: 0px;
  color: transparent;
  height: 3px;
  background: #fff;
  vertical-align: middle;
}
.header-intro h3{
  display: inline-block;
  position: relative;
  margin: 30px 20px;
  left: 16.4%;
}