.wrap{
  padding-top: 50px;
  padding-bottom: 50px;
}
.gray-bg{
  background-color: $gray-bg;
}
.content-body{
  padding-top: 45px;
  padding-bottom: 45px;
}
.account-links{
  margin-top: 15px;
  margin-bottom: 30px;
  a{
    font-size: 14px;
    padding-right: 10px;
  }
}
.content-box {
  border: solid 1px $gray-border;
  box-shadow: 1px 0 3px $gray-bg, -1px 0 3px $gray-bg;
  .content-box-head {
    background-color: $gray-bg;
    vertical-align: middle;
    padding: 5px 0 3px 10px;
  }
  &.warning-box {
    .content-box-head {
      background-color: $alert-color;
      h1, h2, h3, h4, h5 {
        color: white;
      }
    }
    .content-box-body {
      h1, h2, h3, h4, h5 {
        color: #9e6a5e;
      }
    }
  }
  .content-box-body {
    .boxed-group {
      margin: 10px 0 5px 15px;
    }
    .boxed-group:first-child {
      margin-top: 15px;
    }
    .boxed-group:not(:last-child) {
      border-bottom: solid 1px $gray-border;
    }
  }
}
