html,
body {
  overflow: visible;
}

.container {
  padding: 75px 20px 0 220px;
  .sidebar {
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    border-right: solid 1px $gray-border;
  }
}

.loading {
  text-align: center;
  margin-top: 15%;
  i {
    font-size: 65px;
    color: $primary-color;
  }
}

.wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gray-bg {
  background-color: $gray-bg-color;
}

.content-body {
  padding-top: 45px;
  padding-bottom: 45px;
}

.account-links {
  margin-top: 15px;
  margin-bottom: 30px;
  a {
    font-size: 14px;
    padding-right: 10px;
  }
}

.content-box {
  border: solid 1px $gray-border;
  box-shadow: 1px 0 3px $gray-bg-color, -1px 0 3px $gray-bg-color;
  .content-box-head {
    background-color: $gray-bg-color;
    vertical-align: middle;
    padding: 5px 0 3px 10px;
  }
  &.warning-box {
    .content-box-head {
      background-color: $warnning-color;
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: white;
      }
    }
    .content-box-body {
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: #9e6a5e;
      }
    }
  }
  .content-box-body {
    .boxed-group {
      margin: 10px 0 5px 15px;
    }
    .boxed-group:first-child {
      margin-top: 15px;
    }
    .boxed-group:not(:last-child) {
      border-bottom: solid 1px $gray-border;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

ul.has-division {
  li {
    border-bottom: solid 1px $gray-border;
    margin-bottom: 1.25rem;
    &:last-child {
      border-bottom: none;
    }
  }
}
