body {
  > .row {
    max-width: none;
    .large-1 {
      width: 10%;
      position: fixed;
      height: 100vh;
      padding: 0;
      background-color: #222;
      .reverse {
        color: $gray-light-text;
      }
      .reverse:hover {
        color: $primary;
      }
      > ul {
        height: 100%;
        padding: 0;
        > li {
          height: 22%;
          position: relative;
          margin: 0;
          &:hover {
            background-color: #111;
          }
         > a {
            position: absolute;
            left: 30%;
            top: 30%;
          }
        }
        li.active {
          background-color: black;
        }
        li.index {
          height: 10%;
          background-color: $primary;
          a{
            top:10%;
            left: 10%;
            color: white;
            border-radius: 0;
            span {
              padding-left: 5px;
              font-size: 16px;
            }
          }
        }
        li.about {
          &:hover {
            background: #222;
          }
          ul {
            margin: 0;
            text-align: center;
            position: absolute;
            bottom: 0;
          }
          li {
            display: inline-block;
            font-size: 1.5rem;
            padding-left: 6px
          }
        }
        li.search:hover {
          background-color: #222;
        }
        li.search a {
          left: 5%;
          right: 5%;
        }
        h5 {
          color: white;
          padding-top: 5px;
        }
      }
    }
    .large-11 {
      width: 90%;
      padding: .5rem 2rem 0 2rem;
    }
    @media #{$small-only} {
      .small-12 {
        width: 100%;
        padding: 0;
      }
     }
  }
  form input.ts-search-input{
    height: 30px !important;
    margin: auto;
    width: 95%;
  }
}
nav.tab-bar{
  margin-bottom: 10px;
}
ul.small-nav {
  li {
    text-align: center;
  }
  li.about a {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 30px;
    padding-right: 10px;
  }
}
.not-footer {
  min-height: 85vh;
}
.comments {
  margin-top: 50px;
}
