ul.small-nav {
  li {
    text-align: center;
  }
  li.about a {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 30px;
    padding-right: 10px;
  }
}
// .not-footer {
//   padding-top: 1rem;
  // min-height: 85vh;
// }
.comments {
  margin-top: 50px;
}
