$primary-color: hsla(199, 73, 58, 1);
$secondary-color: hsla(14, 100, 73, 1);
$info-color: hsla(337, 56, 64, 1);
$warnning-color: hsla(59, 61, 73, 1);

$gray-bg-color: hsla(0, 0, 82, 1);

$gray-bg: hsla(0, 0, 82, 1);
$gray-border: hsla(0, 0, 90, 1);
$gray-text: #888;

// $primary: hsla(126, 32, 67, 1);
// $primary-hover: hsla(0, 0, 48, 1);

// $primary-bg: hsla(177, 56, 95, 1);

// $gray-btn: hsla(42, 15, 35, 0.2);

// $gray-text: hsla(0, 0, 0, 0.5);
// $gray-light-text: hsla(0, 0, 80, 0.8);

// $gray-darkest: hsla(0, 0, 25, 1);
// $gray-dark3-bg: hsla(0, 0, 84, 1);
// $gray-dark2-bg: hsla(0, 0, 88, 1);
// $gray-dark1-bg: hsla(0, 0, 90, 1);
// $gray-bg: hsla(0, 0, 98, 1);
// $gray-light-bg: hsla(0, 0, 97, 1);

// $gray-dark-border: hsla(0, 0, 73, 1);
// $gray-light-border: hsla(48, 7, 87, 1);

// $orange: hsla(21, 100, 50, 1);
// $orange-bg: hsla(21, 100, 50, 0.1);

// $yellow: hsla(66, 100, 48, 1);

// $green: hsla(80, 100, 37, 1);

// $gray: hsla(37, 3, 53, 1);
// $gray-dark2: hsla(37, 3, 23, 1);
// $gray-dark1: hsla(37, 3, 33, 1);


// $gray-dark1-bg: hsla(0, 0, 95, 1);
// $gray-dark2-bg: hsla(0, 0, 89, 1);
// $gray-dark3r-bg: hsla(0, 0, 65, 1);

// $white-dark: hsla(360, 0, 95, 1);

// $blue-dark3: hsla(198, 92, 39, 1);
// $blue-dark2: hsla(198, 92, 41, 1);
// $blue-dark1: hsla(198, 92, 43, 1);

// // $blue: hsla(198, 92, 55, 1);

// $blue-light1: hsla(198, 92, 57, 1);
// $blue-light2: hsla(198, 92, 59, 1);
// $blue-light3: hsla(198, 92, 61, 1);

// $brown: hsla(41, 38, 33, 1);
// $blue: hsla(177, 98, 33, 1);
// $green: hsla(119, 98, 39, 1);
// $orange: hsla(14, 100, 50, 1);

// $brown-dark: hsla(41, 38, 20, 1);
