%script{type: 'text/template', id: 't-books-index'}
  %ul.medium-block-grid-4.small-block-grid-1#book-items.blocks

%script{type: 'text/template', id: 't-book-item'}
  %li
    .image-bg{style: "background-image: url({{- book.image.url }})"}
    %a{:href => "#books/{{- book.id }}"}
      .text
        %h4 {{- book.name }}
        %h6 {{- book.author_name }}
        %p {{- book.desc}}
