%script{type: 'text/template', id: 't-books-index'}
  %ul.small-block-grid-4#book-items

%script{type: 'text/template', id: 't-book-item'}
  %li
    %h4
      %a{:href => "#books/{{- book.id }}"} {{- book.name }}
    %p {{- book.desc}}
