%script{type: 'text/template', id: 't-book-show'}
  .row.book
    .large-10.columns
      %h3 {{- book.name }}
      %h5 {{- book.author_name }}
      %br
      %p {{= book.desc }}
    .large-2.columns
      %image{src: "{{- book.image.url }}"}
  .row.book-excerpts
    .large-12.columns
      %h4 书摘
    .larg-12.columns
      %ul#book-excerpts.lists

%script{type: 'text/template', id: 't-book-excerpt'}
  %li
    %a{:href => "#books/{{- book_id }}/excerpts/{{- excerpt.id }}"}
      %p
        “
        {{- excerpt.quote }}
        ”
        %small ——
        {{- author.name}}
        {{- excerpt.created_at }}

