%script{type: 'text/template', id: 't-book-show'}
  %h3 {{- book.name}}
  %p {{= book.desc}}

  %ul#book-excerpts

%script{type: 'text/template', id: 't-book-excerpt'}
  %li
    %a{:href => "#books/{{- book_id }}/excerpts/{{- excerpt.id }}"}
      %p {{- excerpt_snip }}
