.wrap.row
  .large-12.columns
    %ul.large-block-grid-4
      - @books.each do |book|
        %li
          = link_to book_path(book.id) do
            %h4= book.name
            %p= book.desc

- content_for :title do
  = "书籍"

