.wrap.row
  .large-12.columns
    %ul
      - @book.excerpts.each do |excerpt|
        %li
          = link_to excerpt_path(excerpt.id) do
            = excerpt.body

- content_for :title do
  = @book.name
