.footer{
  h5{
    color: $gray-border;
  }
  hr{
    color: $gray-border;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small, .reverse{
    color: $gray-border;
  }
  .reverse:hover{
    color: $primary-color;
  }
  i{
    font-size: 2rem;
  }
  img{
    width: 75%;
  }
  .static{
    a{
      color: $gray-border;
      font-size: 0.8rem;
    }
  }
}
