nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fefefe;
  padding: 0 20px;
  z-index: 10;
  ul {
    margin: 0;
  }
  img {
    height: 35px;
  }
  li {
    height: 50px;
    list-style: none;
    display: inline-block;
    line-height: 50px;
  }
  border-bottom: solid 1px $gray-border;
}

ul.small-nav {
  li {
    text-align: center;
  }
  li.about a {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 30px;
    padding-right: 10px;
  }
}
