.y-nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: $gray-lightest-bg-color;
  padding: 0 20px;
  z-index: 10;
  ul {
    margin: 0;
  }
  img {
    height: 35px;
  }
  li {
    height: 50px;
    list-style: none;
    display: inline-block;
    line-height: 50px;
  }
  border-bottom: solid 1px $gray-border;
  ul.right > li {
    padding-left: 10px;
  }
}

ul.small-nav {
  li {
    text-align: center;
  }
  li.about a {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 30px;
    padding-right: 10px;
  }
}

.children-nav {
  display: none;
  border: solid 1px $gray-border;
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: 49px;
  right: 0;
  width: 130px;
  li {
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    i {
      padding-right: 2px;
    }
  }
}

.nav-user-btn {
  position: relative;
  &:hover {
    .children-nav {
      display: block;
    }
  }
}
