nav {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fefefe;
  padding: 0 20px;
  ul {
    margin: 0;
  }
  img {
    height: 35px;
  }
  li {
    height: 50px;
    list-style: none;
    display: inline-block;
    line-height: 50px;
  }
  border-bottom: solid 1px $gray-border;
}
