.pager {
  font-size: 16px;
  padding: 10px 0;
  li {
    display: inline-block;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    &.active,
    a {
      padding: 2px 9px;
    }
  }
  .pager-sum {
    width: 70px;
    text-align: left;
    padding-left: 0;
  }
  .pager-prev,
  .pager-next {}
  .pager-skip {
    float: right;
    padding: 0;
  }
  .pager-nav-btn {
    cursor: pointer;
    &:hover,
    &.active {
      &,
      a {
        color: #fff;
      }
      background-color: $primary;
    }
  }
  form {
    display: inline-block;
    input {
      display: inline-block;
      font-size: 16px;
      width: 40px;
      height: 30px;
      outline: none;
      margin-right: 3px;
    }
    button {
      border: none;
      font-size: 14px;
      background: none;
      outline: none;
      padding: 4px 6px;
      cursor: pointer;
      color: $primary;
      &:hover {
        color: $primary-hover;
      }
    }
  }
}
