#main-content
.comments
  .ds-thread{:'data-thread-key' => "", :'data-title' => '', :'data-url' => ''}

  = content_for :js_ext do
    :javascript
      // var engines_view = new TinySou.Views.Engines.EnginesView()
      // $(document).ready(function () {
      //   var router = new Yuetai.Routers.Engines();
      //   Backbone.history.start();
      // })
      // var duoshuoQuery = {short_name:"wendycan"};
      // (function() {
      //   var ds = document.createElement('script');
      //   ds.type = 'text/javascript';ds.async = true;
      //   ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      //   ds.charset = 'UTF-8';
      //   (document.getElementsByTagName('head')[0]
      //    || document.getElementsByTagName('body')[0]).appendChild(ds);
      // })();
    = render 'site/index'
    = render 'articles/index'
    = render 'articles/show'
