.container.home
  .page-1
    .row
      .large-12.columns.wrap
        .header-nav.tc
          %ul
            %li.fl
              %a.white{:href => "#"} 阅台
            %li.fl
              %a.white{:href => "#"} 博客
            %li.fl
              %a.white{:href => "#"} 系列
            %li.fl
              %a.white{:href => "#"} 演示文稿
        .header-intro
          %span.spacer
          %h3.white 分享
          %span.spacer
        %br
        %h2.white.text-center 阅台
        %p.white.text-center 分享技术，实现想法
        .row
          .large-6.columns.large-centered
            .row
              .large-6.columns
                .button.full 注册
              .large-6.columns
                .button.full 登录
  .page-2
    .row
      .large-12.columns.wrap.text-center
        %h2 阅台为技术而作
        %p 阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作阅台为技术而作
        %button.entry 进入
  .page-3
    .row
      .large-12.columns.wrap.text-center
        %h2.tc 功能介绍
        %ul.large-block-grid-3
          %li.box.fl
            %h3.tc 博客
            %p 博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客
            %img{:src => "images/features-abtest.svg"}/
          %li.box.fl
            %h3.tc 系列
            %p 博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客
            %img{:src => "images/features-abtest.svg"}/
          %li.box.fl
            %h3.tc 演示文稿
            %p 博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客博客
            %img{:src => "images/features-abtest.svg"}/
  .page-4
    .row
      .large-12.columns.wrap.text-center
        %h2 创作人员
        %ul.large-block-grid-3
          %li.person
            %img.fl{:src => "images/naxizu.jpg"}/
            %p.fl 创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员
          %li.person
            %img.fl{:src => "images/naxizu.jpg"}/
            %p.fl 创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员
          %li.person
            %img.fl{:src => "images/naxizu.jpg"}/
            %p.fl 创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员创作人员
  .page-5
    .row
      .large-12.columns.wrap.text-center
        %h2 加入我们
        %br
        %br
        .row
          .large-8.columns.large-centered
            .row
              .large-5.columns
                .button.git.full GitHub
              .large-2.columns
                %p or
              .large-5.columns
                .button.email.full yuetai@wendycan.org