#main-content
  .row
    .large-12.columns
      %ul.inline-block.text-right
        %li.button.tiny.random-btn.raduis 
          %i.fa.fa-magic.fa-lg
          GO
  .row
    .large-12.columns
      #random-blog
  .row
    .large-12.columns
      %ul.inline-block.text-right
        %li.button.tiny.random-btn.radius 
          %i.fa.fa-magic.fa-lg
          GO

%script{type: 'text/template', id: 't-random-blog'}
  %h3 {{= blog.title }}
  .date {{= blog.created_at }}
  .body {{= blog.body }}
     
= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_random_view = new Yuetai.Views.Blogs.RandomView();
    });