.row.text-center
  .row
    .large-12.columns.small-8.small-centered
      %hr
      .row
        .large-12.columns
          %h5
            = '欢迎大家投稿至'
            %a{:href => "mailto:yuetai@wendycan.org"}
              %small.reverse yuetai@wendycan.org
      %h5
        %small by
        = link_to "WendyCan", 'http://wendycan.org', :class => "reverse"
