.row.text-center
  .row
    .large-12.columns.small-8.small-centered
      .row
        .large-12.columns
          %h5
            = '欢迎大家投稿至'
            %a{:href => "mailto:yuetai@larklearning.com"}
              %small.reverse yuetai@larklearning.com
      %h5
        %small by
        = link_to "WendyCan", 'http://larklearning.com', :class => "reverse"
