.row.text-center
  .row
    .large-12.columns.small-8.small-centered
      .row
        .large-12.columns
          %h5 记录想法， 分享点滴
      %h5
        %small by
        = link_to "阅台团队", "http://yuetai.larklearning.com/"
