.show-for-medium-up
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %h1
          = link_to '/' do
            = image_tag("logo.png")
    %section.top-bar-section
      %ul.right
        %li
          %form
            %input.ts-search-input{type: 'text', id: 'ts-search-input'}
        %li
          %a.default.tip-left{:href => "http://wendycan.org", :'data-tooltip' => true, title: "WendyCan"}
            %i.fa.fa-home
      %ul.left
        %li
          %a.default{:href => "/"}
            阅台
        %li
          = link_to books_path do
            = "书籍"
