%nav.tab-bar.show-for-small-only
  %section.left-small.text-center
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.title 阅台

%aside.left-off-canvas-menu
  %ul.off-canvas-list.small-nav
    %li.index.text-left
      %a{:href => '/'}
        = image_tag 'home.png'
        %span 阅台
    %li.articles.text-left
      %a{:href => '/articles'}
        = image_tag 'blog.png'
        %span 博客
    %li.books.text-left
      %a{:href => '/presentation'}
        = image_tag 'presentation.png'
        %span 演示文稿
    %li.text-left
      %a{:href => "/site/random"} 
        = image_tag 'random.png'
        随便看看
    /%li.authors
    /  %a{:href => '#authors'}
    /    = image_tag 'author-white.png'
    /    %span 作者
    / %li.about
    /   %a.reverse{:href => "http://weibo.com/u/3260368113/home?wvr=5"}
    /     %i.fa.fa-weibo
    /   %a.reverse{:href => "https://github.com/wendycan"}
    /     %i.fa.fa-github
    /   %a.reverse{:href => "https://bitbucket.org/wendycan"}
    /     %i.fa.fa-bitbucket
    /   %a.reverse{:href => "mailto:wendy@wendycan.org"}
    /     %i.fa.fa-envelope

